scr/IoT_nuclear_radiation_sensor_nodered.json
[{"id":"effd6741.906228","type":"tab","label":"McOrts Radiation Sensor","disabled":false,"info":""},{"id":"a83da30a.f5f4","type":"tab","label":"Telegram","disabled":false,"info":""},{"id":"b7f0b8a1.1c7668","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#fff100","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#ffa500","baseFont":"Verdana,Verdana,Geneva,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#ffa500","edited":true},"page-titlebar-backgroundColor":{"value":"#ffa500","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#ffc04d","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#ffa500","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Verdana,Verdana,Geneva,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"McOrts Estación medición radiactividad","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":40,"sy":40,"gx":6,"gy":6,"cx":0,"cy":0,"px":0,"py":0}}},{"id":"5c8a81c6.df67f","type":"ui_group","z":"","name":"FabLab Mallorca station","tab":"","order":2,"disp":true,"width":"9","collapse":true},{"id":"ec40e5c5.7ff5e8","type":"ui_group","z":"","name":"McOrts station","tab":"","order":1,"disp":true,"width":"9","collapse":true},{"id":"10c8b353.45653d","type":"ui_link","z":"","name":"Mapa CSN","link":"https://www.csn.es/mapa-de-valores-ambientales","icon":"map","target":"newtab","order":2},{"id":"b4f5be5e.4217c","type":"ui_spacer","name":"spacer","group":"5c8a81c6.df67f","order":9,"width":3,"height":1},{"id":"db19d9ca.7a62b8","type":"ui_spacer","name":"spacer","group":"ec40e5c5.7ff5e8","order":9,"width":3,"height":1},{"id":"c2cf94d8.9668f8","type":"ui_group","z":"","name":"C`an pastilla","tab":"8126206c.a5ac3","order":1,"disp":true,"width":"9","collapse":true},{"id":"8126206c.a5ac3","type":"ui_tab","z":"","name":"Detectores radiactividad","icon":"group_work","order":2,"disabled":false,"hidden":false},{"id":"115a67ae.04cb18","type":"mqtt-broker","z":"","name":"domohome","broker":"http://192.168.1.114/","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d77345e8.f27f48","type":"telegram bot","z":"","botname":"RadiacPMI_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"2237f32c.6ddbac","type":"ui_group","z":"","name":"Mapa","tab":"8126206c.a5ac3","order":3,"disp":true,"width":12,"collapse":true},{"id":"82d47700.314578","type":"ui_group","z":"","name":"Foto","tab":"8126206c.a5ac3","order":4,"disp":true,"width":"9","collapse":true},{"id":"71638ca4.d0eaf4","type":"ui_group","z":"","name":"Grupo en Telegram","tab":"8126206c.a5ac3","order":2,"disp":true,"width":"9","collapse":true},{"id":"fdb8e06d.209eb","type":"MySQLdatabase","z":"","name":"","host":"192.168.1.114","port":"3306","db":"measurements","tz":"","charset":""},{"id":"5a80fc33.7851a4","type":"inject","z":"effd6741.906228","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":60,"wires":[["88a608a6.78cc68"]]},{"id":"88a608a6.78cc68","type":"ui_media","z":"effd6741.906228","group":"82d47700.314578","name":"Picture","width":9,"height":8,"order":1,"category":"mapa","file":"Geiger_Close_mini.jpg","layout":"center","showcontrols":true,"loop":true,"onstart":true,"muted":false,"scope":"local","tooltip":"","x":100,"y":120,"wires":[[]]},{"id":"b9325b4.5fdcfa8","type":"comment","z":"effd6741.906228","name":"Heath Check","info":"","x":110,"y":1060,"wires":[]},{"id":"e1c6c88c.836298","type":"switch","z":"effd6741.906228","name":"Not ping","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":360,"y":1240,"wires":[["a38f41dc.b97c8","25971743.309008","75d4b377.5bbcdc"],["4a522ea.6f814d","75d4b377.5bbcdc"]]},{"id":"a38f41dc.b97c8","type":"change","z":"effd6741.906228","name":"alert message","rules":[{"t":"set","p":"payload","pt":"msg","to":"RADIACTIVITY sensor off-line","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":1160,"wires":[["761ee5db.961d3c"]]},{"id":"75d4b377.5bbcdc","type":"function","z":"effd6741.906228","name":"Label & Color","func":"if (msg.payload === false){\n    msg.payload = \"Desconectado\";\n    msg.topic = \"offline\";\n    msg.colour = \"red\";\n} else {\n    msg.payload = \"En linea\";\n    msg.topic = \"online\";\n    msg.colour = \"green\";\n}\nreturn [msg];","outputs":1,"noerr":0,"x":600,"y":1300,"wires":[["c9f0c1d3.fa15c"]],"outputLabels":["Sunset"]},{"id":"c9f0c1d3.fa15c","type":"ui_button","z":"effd6741.906228","name":"","group":"c2cf94d8.9668f8","order":5,"width":3,"height":1,"passthru":false,"label":"{{payload}}","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":790,"y":1300,"wires":[[]]},{"id":"ad54294.2ca40d8","type":"inject","z":"effd6741.906228","name":"reset","topic":"","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":850,"y":300,"wires":[["c0300ed7.41026"]]},{"id":"c3109c86.ca574","type":"inject","z":"effd6741.906228","name":"Hours gap","topic":"HoursGap","payload":"2","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":620,"wires":[["8b83f5a8.af5b58"]]},{"id":"2f3b63e.f2d509c","type":"ui_template","z":"effd6741.906228","group":"c2cf94d8.9668f8","name":"Mapa vientos y calidad del aire","order":4,"width":3,"height":2,"format":"<div>\n    <a href=\"https://sensor.community/es/\"><span>Mapa vientos y calidad del aire</span></a>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":350,"y":120,"wires":[[]]},{"id":"ed5c7a61.7f6808","type":"comment","z":"effd6741.906228","name":"Store frames","info":"","x":110,"y":860,"wires":[]},{"id":"217cebb1.c546c4","type":"mqtt in","z":"effd6741.906228","name":"","topic":"/home/meteo/radiation_sensor/cpm","qos":"2","datatype":"auto","broker":"115a67ae.04cb18","x":180,"y":360,"wires":[["d0b08630.ab75c8","8120e9cf.1581f8","31a47eb7.aee3c2","44e1ee55.35262","64d408cd.05aad8","48c4d694.b09028","dd793655.cbb6f8"]]},{"id":"8acc29a4.48c318","type":"comment","z":"effd6741.906228","name":"Reading","info":"","x":100,"y":300,"wires":[]},{"id":"c0300ed7.41026","type":"ui_chart","z":"effd6741.906228","name":"","group":"c2cf94d8.9668f8","order":1,"width":9,"height":8,"label":"Radiación αβγ y partículas en aire","chartType":"line","legend":"true","xformat":"HH","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"120","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#fff100","#fd7e0e","#a787c5","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":920,"y":360,"wires":[[]]},{"id":"aeecd3c8.72b71","type":"ui_gauge","z":"effd6741.906228","name":"cpm","group":"c2cf94d8.9668f8","order":2,"width":3,"height":3,"gtype":"gage","title":"Cuentas Por Minuto:","label":"cpm","format":"{{value}}","min":"0","max":"150","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":400,"wires":[]},{"id":"44e1ee55.35262","type":"function","z":"effd6741.906228","name":"Calculate & store µSv/hr","func":"global.set(\"uSvHr\",Number(parseFloat(msg.payload*0.0065).toFixed(2)));\nmsg.payload=global.get(\"uSvHr\");\nmsg.topic = \"uSvHr\";\nreturn [msg];","outputs":1,"noerr":0,"x":590,"y":440,"wires":[[]],"outputLabels":["Sunset"]},{"id":"d0b08630.ab75c8","type":"function","z":"effd6741.906228","name":"Store cpm","func":"global.set('cpm',Number(msg.payload));\nmsg.topic = 'CPM';\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":400,"wires":[["aeecd3c8.72b71","c0300ed7.41026"]]},{"id":"968b2f49.06076","type":"comment","z":"a83da30a.f5f4","name":"Telegram","info":"","x":120,"y":60,"wires":[]},{"id":"6ccaf628.b54a38","type":"telegram sender","z":"a83da30a.f5f4","name":"","bot":"d77345e8.f27f48","haserroroutput":false,"outputs":1,"x":960,"y":220,"wires":[[]]},{"id":"74d8b3e5.31cddc","type":"function","z":"a83da30a.f5f4","name":"Bot","func":"msg.payload={\n    \"chatId\":403545288,\n    \"type\":\"message\",\n    \"content\":msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":220,"wires":[["6ccaf628.b54a38"]]},{"id":"30b13052.1641e","type":"inject","z":"a83da30a.f5f4","name":"Send mesage to Telegram","topic":"","payload":"","payloadType":"date","repeat":"43200","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":120,"wires":[["47f3ce07.eceb4"]]},{"id":"47f3ce07.eceb4","type":"function","z":"a83da30a.f5f4","name":"Group","func":"msg.payload={\n    \"chatId\":-1001640042295,\n    \"type\":\"message\",\n    \"content\": \"Dosis radiación actual \" + global.get('5m_uSvHr_scoring') + \" (\"+ global.get('5m_uSvHr') +\"  µSv/hr)\" \n}\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":120,"wires":[["87d3562e.364d08"]]},{"id":"30395b34.5408b4","type":"function","z":"effd6741.906228","name":"Compose message NO RISC","func":"msg.payload=\"No hay riesgo de radiación\";\nmsg.topic=\"\";\nreturn [msg];","outputs":1,"noerr":0,"x":620,"y":740,"wires":[[]]},{"id":"18196a10.932326","type":"http request","z":"effd6741.906228","name":"Request to IFTTT Carlos","method":"GET","ret":"txt","paytoqs":false,"url":"https://maker.ifttt.com/trigger/DOMOHOME/with/key/cviFn8QcCxi2HEJynIv2se?value1={{{payload}}}","tls":"","proxy":"","authType":"","x":950,"y":820,"wires":[[]]},{"id":"b155ec97.3f766","type":"http request","z":"effd6741.906228","name":"Request to IFTTT Pilar","method":"GET","ret":"txt","paytoqs":false,"url":"https://maker.ifttt.com/trigger/Casa/with/key/bH-6NfXXDtAb_ykrFP26dV?value1={{{payload}}}","tls":"","proxy":"","authType":"","x":940,"y":780,"wires":[[]]},{"id":"822a96ae.ace978","type":"ui_toast","z":"effd6741.906228","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Alerta","x":890,"y":660,"wires":[]},{"id":"142659b.be99da6","type":"link out","z":"effd6741.906228","name":"","links":["f927c2dc.4ce33"],"x":875,"y":740,"wires":[]},{"id":"f927c2dc.4ce33","type":"link in","z":"a83da30a.f5f4","name":"","links":["142659b.be99da6"],"x":315,"y":160,"wires":[["43e235ca.f2233c"]]},{"id":"f7e82817.245298","type":"comment","z":"effd6741.906228","name":"Data analisys","info":"","x":110,"y":440,"wires":[]},{"id":"257a3df0.7dd4b2","type":"ui_gauge","z":"effd6741.906228","name":"","group":"c2cf94d8.9668f8","order":3,"width":3,"height":3,"gtype":"donut","title":"Dosis 5 min.","label":"µSv/hr","format":"{{value}}","min":0,"max":"1.3","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":850,"y":440,"wires":[]},{"id":"bdb152be.6eaa9","type":"inject","z":"effd6741.906228","name":"Initialize","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":100,"y":500,"wires":[["10c3a982.59d026","833697bf.8e4b58"]]},{"id":"10c3a982.59d026","type":"change","z":"effd6741.906228","name":"flow sum_cpm_5min & num_cpm_5min","rules":[{"t":"set","p":"num_cpm_5min","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"sum_cpm_5min","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":520,"wires":[[]]},{"id":"8120e9cf.1581f8","type":"function","z":"effd6741.906228","name":"ACPM (1 hour)","func":"global.set('num_cpm_hour', global.get('num_cpm_hour')+1);\nglobal.set('sum_cpm_hour', global.get('sum_cpm_hour')+Number(msg.payload));\n\nif (global.get(\"num_cpm_hour\")==60) {\n    global.set('acpm',  Number(parseFloat(global.get('sum_cpm_hour')/global.get('num_cpm_hour')).toFixed(2)));\n    global.set(\"num_cpm_hour\",0);\n    global.set(\"sum_cpm_hour\",0);\n}\n\nmsg.payload = global.get('acpm');\nmsg.topic = \"ACPM\";\nreturn msg;","outputs":1,"noerr":0,"x":515,"y":360,"wires":[["a2b8d644.8f8be8"]]},{"id":"a312cdd0.1de128","type":"inject","z":"effd6741.906228","name":"Initialize","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":100,"y":540,"wires":[["45f5d598.d03fcc"]]},{"id":"45f5d598.d03fcc","type":"change","z":"effd6741.906228","name":"acpm, uSvHr, 5m_uSvHr","rules":[{"t":"set","p":"acpm","pt":"global","to":"22.82","tot":"num"},{"t":"set","p":"5m_uSvHr","pt":"global","to":"payload","tot":"msg"},{"t":"set","p":"uSvHr","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":420,"wires":[[]]},{"id":"f10b3a8a.bb1948","type":"http request","z":"effd6741.906228","name":"request","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":700,"y":920,"wires":[[]]},{"id":"8b83f5a8.af5b58","type":"change","z":"effd6741.906228","name":"","rules":[{"t":"set","p":"hours-gap","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":620,"wires":[[]]},{"id":"31a47eb7.aee3c2","type":"function","z":"effd6741.906228","name":"µSv/hr (5 min.)","func":"flow.set(\"num_cpm_5min\", flow.get(\"num_cpm_5min\")+1);\nflow.set(\"sum_cpm_5min\", flow.get(\"sum_cpm_5min\")+Number(msg.payload));\n\nif (flow.get(\"num_cpm_5min\")==5) {\n    global.set(\"5m_uSvHr\",Number(parseFloat(flow.get(\"sum_cpm_5min\")*0.0065/5).toFixed(2)));\n    flow.set(\"num_cpm_5min\",0);\n    flow.set(\"sum_cpm_5min\",0);\n}\nmsg.payload = global.get(\"5m_uSvHr\");\nmsg.topic = \"µSv/hr 5min\";\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":560,"wires":[["257a3df0.7dd4b2","483d6465.b6facc","c96e4986.ef7f68","133df48c.36a31b"]]},{"id":"48c4d694.b09028","type":"switch","z":"effd6741.906228","name":">100 cpm  (0.65 µSv/hr) >200cpm  (1.3 µSv/hr) ","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":".65","vt":"num"},{"t":"btwn","v":".65","vt":"num","v2":"1.3","v2t":"num"},{"t":"gt","v":"1.3","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":260,"y":780,"wires":[["30395b34.5408b4"],["bf84a5c7.a5fdc8"],["f354cc47.3fad3"]]},{"id":"833697bf.8e4b58","type":"change","z":"effd6741.906228","name":"global num_cpm & sum_cpm","rules":[{"t":"set","p":"num_cpm_hour","pt":"global","to":"payload","tot":"msg"},{"t":"set","p":"sum_cpm_hour","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":480,"wires":[[]]},{"id":"3ef831ee.45c09e","type":"ui_audio","z":"effd6741.906228","name":"","group":"c2cf94d8.9668f8","voice":"es-ES","always":true,"x":900,"y":700,"wires":[]},{"id":"19207be1.119d14","type":"comment","z":"effd6741.906228","name":"Alarms","info":"","x":90,"y":680,"wires":[]},{"id":"bf84a5c7.a5fdc8","type":"function","z":"effd6741.906228","name":"Compose message LOW","func":"msg.payload=\"Riesgo moderado radiación: \" + msg.payload +\" µSv/hr\" ;\nmsg.topic=\"\";\nreturn [msg];","outputs":1,"noerr":0,"x":610,"y":780,"wires":[["142659b.be99da6","822a96ae.ace978","3ef831ee.45c09e","b155ec97.3f766","18196a10.932326"]]},{"id":"f354cc47.3fad3","type":"function","z":"effd6741.906228","name":"Compose message HIGHT","func":"msg.payload=\"ALERTA PELIGRO radiación: \" + msg.payload +\" µSv/hr\" ;\nmsg.topic=\"\";\nreturn [msg];","outputs":1,"noerr":0,"x":620,"y":820,"wires":[["18196a10.932326","b155ec97.3f766","142659b.be99da6","3ef831ee.45c09e","822a96ae.ace978"]]},{"id":"64d408cd.05aad8","type":"delay","z":"effd6741.906228","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":140,"y":920,"wires":[["10547195.ff325e","ce7a415a.fb8ef"]]},{"id":"10547195.ff325e","type":"function","z":"effd6741.906228","name":"Compose URL","func":"  var URLstr1 = \"http://www.gmcmap.com/log2.asp?AID=04500&GID=96607652578\";\n  var URLstr2 = \"&CPM=\"\n  var URLstr3 = global.get('cpm');\n  var URLstr4 = \"&ACPM=\";\n  var URLstr5 = global.get('acpm');\n  var URLstr6 = \"&uSV=\";\n  var URLstr7 = global.get('uSvHr');\nmsg.payload = URLstr1.concat(URLstr2,URLstr3,URLstr4,URLstr5,URLstr6,URLstr7);\nreturn [msg];","outputs":1,"noerr":0,"x":320,"y":920,"wires":[["36638063.d74f2"]]},{"id":"36638063.d74f2","type":"change","z":"effd6741.906228","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":920,"wires":[["f10b3a8a.bb1948"]]},{"id":"2d6625d0.2c947a","type":"ui_iframe","z":"effd6741.906228","group":"2237f32c.6ddbac","name":"","order":1,"width":12,"height":15,"url":"https://www.gmcmap.com/index.asp","origin":"*","scale":"75","x":350,"y":60,"wires":[[]]},{"id":"43e235ca.f2233c","type":"function","z":"a83da30a.f5f4","name":"Group","func":"msg.payload={\n    \"chatId\":-1001640042295,\n    \"type\":\"message\",\n    \"content\":msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":160,"wires":[["87d3562e.364d08"]]},{"id":"dab42521.72de18","type":"ui_template","z":"a83da30a.f5f4","group":"71638ca4.d0eaf4","name":"https://telegram.me/radiacionmallorca","order":1,"width":9,"height":1,"format":"<div>\n    <a href=\"https://telegram.me/radiacionmallorca\"><span>Para estar informado y recibir avisos automáticos si se detecta un incidente.</span></a>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":370,"y":60,"wires":[[]]},{"id":"483d6465.b6facc","type":"mqtt out","z":"effd6741.906228","name":"","topic":"/home/meteo/radiation_sensor/5m_uSvHr","qos":"2","retain":"","broker":"115a67ae.04cb18","x":920,"y":560,"wires":[]},{"id":"4a522ea.6f814d","type":"change","z":"effd6741.906228","name":"Store on-line ","rules":[{"t":"set","p":"on-line","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":1240,"wires":[[]]},{"id":"25971743.309008","type":"change","z":"effd6741.906228","name":"Store on-line ","rules":[{"t":"set","p":"on-line","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":1200,"wires":[[]]},{"id":"c96e4986.ef7f68","type":"switch","z":"effd6741.906228","name":"If is on-line","property":"on-line","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":360,"y":680,"wires":[[]]},{"id":"82a8bad1.e51938","type":"mysql","z":"effd6741.906228","mydb":"fdb8e06d.209eb","name":"","x":560,"y":980,"wires":[[]]},{"id":"b9ed3758.9d44c8","type":"mqtt in","z":"effd6741.906228","name":"","topic":"/home/meteo/aqi/pm2_5","qos":"2","datatype":"auto","broker":"115a67ae.04cb18","x":150,"y":220,"wires":[["ce2136.908f3ec8"]]},{"id":"14018a1e.daf506","type":"comment","z":"effd6741.906228","name":"Atmosphere particles","info":"","x":140,"y":180,"wires":[]},{"id":"ce2136.908f3ec8","type":"function","z":"effd6741.906228","name":"x10 and add topic PM2.5 ","func":"msg.payload = msg.payload * 10;\nmsg.topic = \"PM2.5 x10\";\nreturn [msg];","outputs":1,"noerr":0,"x":430,"y":220,"wires":[["c0300ed7.41026"]],"outputLabels":["Sunset"]},{"id":"a2b8d644.8f8be8","type":"delay","z":"effd6741.906228","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":680,"y":360,"wires":[["c0300ed7.41026"]]},{"id":"ce7a415a.fb8ef","type":"function","z":"effd6741.906228","name":"Compose URL","func":"var Query1 = \"INSERT INTO `radiation`(`acpm`, `cpm`, `usvhr`) VALUES (\";\nvar Query2 = global.get('acpm');\nvar Query3 = global.get('cpm');\nvar Query4 = global.get('uSvHr');\nmsg.topic = Query1.concat(Query2,\",\",Query3,\",\",Query4,\")\");\nreturn [msg];","outputs":1,"noerr":0,"x":320,"y":980,"wires":[["82a8bad1.e51938"]]},{"id":"dd793655.cbb6f8","type":"debug","z":"effd6741.906228","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":260,"wires":[]},{"id":"133df48c.36a31b","type":"function","z":"effd6741.906228","name":"5m_uSvHr scoring","func":"if (msg.payload<=0.27) {\n    global.set('5m_uSvHr_scoring',\"baja\");\n} else if (msg.payload<=0.3){\n    global.set('5m_uSvHr_scoring',\"dentro de la media ambiental\");\n} else if (msg.payload<=2.8){\n    global.set('5m_uSvHr_scoring',\"alta pero no peligrosa \");\n} else if (msg.payload<=40){\n    global.set('5m_uSvHr_scoring',\"moderamente peligrosa \");\n} else if (msg.payload<=95){\n    global.set('5m_uSvHr_scoring',\"peligrosa \");\n} else {\n    global.set('5m_uSvHr_scoring',\"muy peligrosa \");\n}\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":500,"wires":[[]]},{"id":"87d3562e.364d08","type":"switch","z":"a83da30a.f5f4","name":"If on-line","property":"on-line","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":680,"y":160,"wires":[["1e7c58ae.5bce87"]]},{"id":"e581452c.5e54d8","type":"comment","z":"a83da30a.f5f4","name":"Control","info":"","x":110,"y":240,"wires":[]},{"id":"6aea04cd.6e96ec","type":"debug","z":"a83da30a.f5f4","name":"2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":770,"y":340,"wires":[]},{"id":"a50c7e55.29e3b","type":"telegram command","z":"a83da30a.f5f4","name":"","command":"?","description":"","registercommand":false,"language":"","scope":"default","bot":"d77345e8.f27f48","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":110,"y":300,"wires":[["f3b17a78.bb1cf8","6aea04cd.6e96ec"]]},{"id":"f3b17a78.bb1cf8","type":"function","z":"a83da30a.f5f4","name":"Help compose","func":"msg.payload = \"/stop - Bloquea todas las notificaciones. \\r\\n/start - Activa todas las notificaciones. \\r\\n/users - Listado de usuarios registrados.\"\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":300,"wires":[["6aea04cd.6e96ec","74d8b3e5.31cddc"]]},{"id":"58e4ca7.6139834","type":"telegram command","z":"a83da30a.f5f4","name":"","command":"/stop","description":"","registercommand":false,"language":"","scope":"default","bot":"d77345e8.f27f48","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":110,"y":360,"wires":[["b4b47085.61c61"]]},{"id":"b4b47085.61c61","type":"change","z":"a83da30a.f5f4","name":"","rules":[{"t":"set","p":"silence","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":360,"wires":[["6aea04cd.6e96ec"]]},{"id":"cb92d0f5.85d5f","type":"telegram command","z":"a83da30a.f5f4","name":"","command":"/start","description":"","registercommand":false,"language":"","scope":"default","bot":"d77345e8.f27f48","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":110,"y":400,"wires":[["349eb898.3bafc8"]]},{"id":"349eb898.3bafc8","type":"change","z":"a83da30a.f5f4","name":"","rules":[{"t":"set","p":"silence","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":400,"wires":[["6aea04cd.6e96ec"]]},{"id":"90dd339a.f19de","type":"telegram receiver","z":"a83da30a.f5f4","name":"","bot":"d77345e8.f27f48","saveDataDir":"","filterCommands":false,"x":140,"y":460,"wires":[["6aea04cd.6e96ec"],[]]},{"id":"761ee5db.961d3c","type":"switch","z":"effd6741.906228","name":"Not silence","property":"silence","propertyType":"global","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":1160,"wires":[["18196a10.932326"]]},{"id":"1e7c58ae.5bce87","type":"switch","z":"a83da30a.f5f4","name":"Not silence","property":"silence","propertyType":"global","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":850,"y":160,"wires":[["6ccaf628.b54a38"]]},{"id":"da056a7a.d5f508","type":"mqtt in","z":"effd6741.906228","name":"","topic":"/home/meteo/radiation_sensor/ip","qos":"2","datatype":"auto","broker":"115a67ae.04cb18","x":170,"y":1120,"wires":[["324835d9.2bb89a"]]},{"id":"324835d9.2bb89a","type":"change","z":"effd6741.906228","name":"","rules":[{"t":"set","p":"ip","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":1120,"wires":[[]]},{"id":"38058eec.a0f372","type":"inject","z":"a83da30a.f5f4","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":520,"wires":[["349eb898.3bafc8"]]},{"id":"7427ac57.b11164","type":"ui ping","z":"effd6741.906228","name":"Ping","host":"","timeout":"5","requests":"1","x":190,"y":1240,"wires":[["e1c6c88c.836298"]]},{"id":"19e36a0c.6f7436","type":"inject","z":"effd6741.906228","name":"","topic":"","payload":"","payloadType":"date","repeat":"900","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":1180,"wires":[["1511a8cb.b11ed7"]]},{"id":"1511a8cb.b11ed7","type":"change","z":"effd6741.906228","name":"","rules":[{"t":"set","p":"host","pt":"msg","to":"ip","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":1180,"wires":[["7427ac57.b11164"]]}]