src/IoT_nuclear_radiation_sensor_Nodered_BASIC.json
[{"id":"7a8aac8f.7468a4","type":"tab","label":"Medidor de radiactividad IoT","disabled":false,"info":""},{"id":"a19ac17.6d8f34","type":"ui_chart","z":"7a8aac8f.7468a4","name":"","group":"d8bdc13.2e60a4","order":1,"width":9,"height":8,"label":"Radiación αβγ","chartType":"line","legend":"true","xformat":"HH","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"120","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ec7a2f","#fd7e0e","#a787c5","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":600,"y":140,"wires":[[]]},{"id":"6926a688.2e7548","type":"mqtt in","z":"7a8aac8f.7468a4","name":"","topic":"/home/meteo/radiation_sensor/cpm","qos":"2","datatype":"auto","broker":"21d6aae4.8f7156","x":180,"y":180,"wires":[["c3547341.133c3","a19ac17.6d8f34"]]},{"id":"c3547341.133c3","type":"ui_gauge","z":"7a8aac8f.7468a4","name":"cpm","group":"d8bdc13.2e60a4","order":2,"width":3,"height":3,"gtype":"gage","title":"Cuentas Por Minuto:","label":"cpm","format":"{{value}}","min":"0","max":"150","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570,"y":180,"wires":[]},{"id":"8ef91ecc.a4c1d","type":"mqtt in","z":"7a8aac8f.7468a4","name":"","topic":"/home/meteo/radiation_sensor/ip","qos":"2","datatype":"auto","broker":"21d6aae4.8f7156","x":170,"y":100,"wires":[["74db6485.35188c"]]},{"id":"74db6485.35188c","type":"ui_text","z":"7a8aac8f.7468a4","group":"d8bdc13.2e60a4","order":4,"width":6,"height":1,"name":"","label":"IP ","format":"{{msg.payload}}","layout":"row-center","x":430,"y":100,"wires":[]},{"id":"d8bdc13.2e60a4","type":"ui_group","z":"","name":"Detector 1","tab":"20f4d21a.3270be","order":1,"disp":true,"width":"9","collapse":true},{"id":"21d6aae4.8f7156","type":"mqtt-broker","z":"","name":"HiveMQ","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"20f4d21a.3270be","type":"ui_tab","z":"","name":"Detectores radiactividad","icon":"group_work","order":2,"disabled":false,"hidden":false}]