src/IoT_nuclear_radiation_sensor_NoderedBasicFlow.json
[{"id":"1ed79d14.9645c3","type":"http request","z":"3f42fe13.b46602","name":"request","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":820,"y":140,"wires":[["187d7e79.cdfeb2"]]},{"id":"add08a36.e40458","type":"function","z":"3f42fe13.b46602","name":"Compose URL","func":"  var URLstr1 = \"http://www.gmcmap.com/log2.asp?AID=04500&GID=96607652578\";\n  var URLstr2 = \"&CPM=\"\n  var URLstr3 = global.get('cpm');\n  var URLstr4 = \"&ACPM=\";\n  var URLstr5 = global.get('acpm');\n  var URLstr6 = \"&uSV=\";\n  var URLstr7 = global.get('uSvHr');\nmsg.payload = URLstr1.concat(URLstr2,URLstr3,URLstr4,URLstr5,URLstr6,URLstr7);\nreturn [msg];","outputs":1,"noerr":0,"x":435,"y":140,"wires":[["89ded876.294f18"]]},{"id":"89ded876.294f18","type":"change","z":"3f42fe13.b46602","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":140,"wires":[["1ed79d14.9645c3"]]},{"id":"187d7e79.cdfeb2","type":"debug","z":"3f42fe13.b46602","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":990,"y":140,"wires":[]},{"id":"982191cd.80ac8","type":"mqtt in","z":"3f42fe13.b46602","name":"","topic":"/home/meteo/radiation_sensor/cpm","qos":"2","datatype":"auto","broker":"115a67ae.04cb18","x":160,"y":140,"wires":[["add08a36.e40458"]]},{"id":"115a67ae.04cb18","type":"mqtt-broker","z":"","name":"domohome","broker":"http://192.168.1.114/","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]